@mixin node-color-modifiers() {
  @each $color-name, $color-group in $-color-map {
    @include modifier($color-name) {
      --color-main: var(--color-#{$color-name});
      --color-flash: var(--color-#{$color-name}--dark);
    }
  }
}

@keyframes linking {
  0% {
    transform: scale(0.82);
    border-color: var(--color-main);
  }

  50% {
    transform: scale(1);
    border-color: var(--color-linking);
  }

  100% {
    transform: scale(0.82);
    border-color: var(--color-main);
  }
}

.node {
  --color-main: var(--color-neon-coral);
  --color-flash: var(--color-neon-coral--dark);
  --color-linking: rgba(255,255,255,0.8);
  --color-selected: #fff;
  --color-shadow: rgba(17, 21, 27, 0.664);

  position:relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: unit(10);
  height: unit(10);
  border-radius: 50%;
  margin: 0.2rem;
  box-shadow: 0 0.2rem var(--color-shadow); //sass-lint:disable-line no-color-literals

  @include node-color-modifiers();

  background: repeating-linear-gradient(
    145deg,
    var(--color-main),
    var(--color-main) 50%,
    var(--color-flash) 50%,
    var(--color-flash) 100%
  );

  &--clickable {
    cursor: pointer;
  }

  &--disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
  }

  &--draggable {
    cursor: grab;
  }

  &__border {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__linking {
    border: 0.5rem solid var(--color-linking);
    border-radius: 50%;
    content: '';
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    animation: linking var(--animation-duration-slow) ease-in-out infinite;
  }

  &--inactive {
    opacity: 0.5;
  }

  &__label {
    width: 100%;
    height: 100%;
    position: absolute;

    &-text {
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      text-align: center;
      font-size: 1rem;
      font-family: $netcanvas-font-stack;
      font-weight: 500;
      color: palette('text');
      hyphens: auto;
      overflow: hidden;
      white-space: pre-line;
      color: var(--node-label);
    }
  }

  @each $ordinal-color in $ordinal-colors {
    $i: index($ordinal-colors, $ordinal-color);

    &--node-highlight-seq-#{$i} {
      .node__node-trim {
        stroke: color($ordinal-color);
      }
    }
  }

  &--linking {
    .node__node-trim {
      stroke: palette('selected');
    }

    .node__node-outer-trim {
      fill: var(--node-outer-trim-stroke);
      transform-origin: 250px 250px;
      animation: linking var(--animation-duration-slow) ease-in-out infinite;
    }

  }
}
