@mixin scroller-mask() {
  // sass-lint:disable no-vendor-prefixes
  -webkit-mask-image: linear-gradient(to bottom, black calc(100% - #{unit(2)}), transparent 100%);
}

.scrollable {
  @include scroller-mask;
  overflow-y: auto;
  // sass-lint:disable no-vendor-prefixes
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}




