// Button
// =============================================================================

@import "../global/default";

@mixin reset-button {
  -webkit-appearance: none;
  border: 0;
  background: none;
}

@mixin default-button-type {
  @include typography('title-2');
  @include typography('bold');
  letter-spacing: 3px;
  text-transform: uppercase;
  color: color('white');
}

@mixin button (
  $button-class: 'button'
) {
  .#{$button-class} {
    @include reset-button;
    @include default-button-type;

    display: flex;
    @include vcjc; // vertical center, justify center
    font-family: inherit;
    text-align: center;

    width: auto;
    height: auto;
    min-width: 250px;
    min-height: 80px;

    border-radius: 40px;
    box-shadow: 0 3px rgba(0,0,0,0.25);
    background-color: color('sea-green');

    &:hover {
      text-decoration: none;
      cursor: pointer;
      background-color: color('sea-green', 0.8);
    }

    @include color-modifiers($include-hover: true);

    &--small {
      min-width: inherit;
      min-height: inherit;
      padding: 2em 4em;
      @include typography('copy-small');
    }

    &__content {
      margin: 0 1rem;
    }

    &__icon {
      height: 15px;
      width: 15px;

      // use flexbox to change order of icon and content
      &--right {
        order: 2;
      }
    }
  }
}

@mixin svg-button($svg-path) {
  background: transparent;
  background-image: url($svg-path);
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -1000px;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }
}

@if $export-ui-classes {
  @include button;
}
