$circle-size: 20px;
$container-size: $circle-size * 3;
$animation-time: 1.5s;

$light-color-list: (color('sea-serpent'), color('mustard'), color('neon-coral'), color('sea-green'));
$dark-color-list: (color('sea-serpent--dark'), color('mustard--dark'), color('neon-coral--dark'), color('sea-green--dark'));
.spinner {
  width: $container-size;
  height: $container-size;
  margin: $circle-size;
  animation: spin $animation-time cubic-bezier(0.77, 0, 0.175, 1) infinite;
  transform: rotate(45deg);
}

.circle-container {
  position: absolute;

  &:nth-child(1) {
    top: -#{$circle-size};
    left: 0px;
  }

  &:nth-child(2) {
    top: 0px;
    left: #{$circle-size * 2};
    transform: rotate(90deg);
  }

  &:nth-child(3) {
    top: #{$circle-size};
    left: -#{$circle-size};
    transform: rotate(-90deg);
  }

  &:nth-child(4) {
    top: #{$circle-size * 2};
    left: #{$circle-size};
    transform: rotate(-180deg);
  }
}

.half-circle {
  height: $circle-size;
  width: $circle-size * 2;
  background: #9e978e;
  border-top-left-radius: $circle-size * 2;
  border-top-right-radius: $circle-size * 2;
  &.rot {
    transform: rotate(180deg);
    position: relative;
    top: -1px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(45deg) scale(1);
  }

  40% {
    transform: rotate(45deg) scale(0.8);
  }
  100% {
    transform: rotate(405deg) scale(1);
  }
}

@each $color in $light-color-list {

  $color-index: index($light-color-list, $color);

  @keyframes circle-color-#{$color-index} {
    0% {
      transform: translateX($circle-size);
      background: item($dark-color-list, $color-index);
    }
    100% {
      trasform: translateX(0px);
      background: $color;
    }
  }

  .circle-container {

    &:nth-child(#{$color-index}) {
      :nth-child(1) {
        background: darken($color, 10%);
        animation: circle-color-#{$color-index} #{$animation-time / 2} cubic-bezier(0.77, 0, 0.175, 1) alternate infinite;
      }
      :nth-child(2) {
        background: $color;
      }
    }
  }

}
