$circle-size: 10px;
$container-size: $circle-size * 3;
$animation-time: 1.7s;

$network-canvas-coral: #e2215b;
$light-sea-green: #00c9a2;
$mustard: #f2b700;
$sea-serpent: #0fb2e2;
$navy-taupe: #2d2955;

$color-list: ($sea-serpent, $mustard, $network-canvas-coral, $light-sea-green);

body {
  background: $navy-taupe;
}

.nc-spinner {
  position: absolute;
  width: $container-size;
  height: $container-size;
  top: calc(50% - #{$container-size/2});
  left: calc(50% - #{$container-size/2});
  animation: spin $animation-time cubic-bezier(0.77, 0, 0.175, 1) infinite;
  transform: rotate(45deg);
}

.circle-container {
  position: absolute;

  &:nth-child(1) {
    top: -#{$circle-size};
    left: 0px;
  }

  &:nth-child(2) {
    top: 0px;
    left: #{$circle-size * 2};
    transform: rotate(90deg);
  }

  &:nth-child(3) {
    top: #{$circle-size};
    left: -#{$circle-size};
    transform: rotate(-90deg);
  }

  &:nth-child(4) {
    top: #{$circle-size * 2};
    left: #{$circle-size};
    transform: rotate(-180deg);
  }
}

.half-circle {
  height: $circle-size;
  width: $circle-size * 2;
  background: #9e978e;
  border-top-left-radius: $circle-size * 2;
  border-top-right-radius: $circle-size * 2;
  &.rot {
    transform: rotate(180deg);
    position: relative;
    top: -1px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(45deg) scale(1.4);
  }

  40% {
    transform: rotate(45deg) scale(1);
  }
  100% {
    transform: rotate(405deg) scale(1.4);
  }
}

@each $color in $color-list {
  
  $color-index: index($color-list, $color);
 
  @keyframes circle-color-#{$color-index} {
    0% {
      transform: translateX($circle-size);
      background: darken($color, 10%);
    }
    100% {
      trasform: translateX(0px);
      background: $color;
    }
  }
  
  .circle-container {

    &:nth-child(#{$color-index}) {
      :nth-child(1) {
        background: darken($color, 10%);
        animation: circle-color-#{$color-index} #{$animation-time / 2} cubic-bezier(0.77, 0, 0.175, 1) alternate infinite;
      }
      :nth-child(2) {
        background: $color;
      }
    }
  }
  
}