@import 'core/animation';
@import 'core/bem';
@import 'core/breakpoints';
@import 'core/color';
@import 'core/palette';
@import 'core/color-dictionary';
@import 'core/grid';
@import 'core/functions';
@import 'core/spacing';
@import 'core/typography';
@import 'core/quicksand';
@import 'core/normalize';

$export-ui-classes: true !default;

// Default Breakpoint Settings
// =============================================================================
@include breakpoint-set('small', 'max-aspect-ratio: 1.6');
@include breakpoint-set('full', 'min-aspect-ratio: 1.6');
@include breakpoint-classes(hide) {
  display: none;
}

@include breakpoint-classes(show--flex) {
  display: flex;
}

// Default Copy Typography Sizes
// =============================================================================

$base-line-height: 1.5;
$netcanvas-font-stack: 'Quicksand', 'Open Sans', sans-serif;
$system-font-stack: 'system-ui', sans-serif;

:root {
  --base-font-size: 18px;
  --heading-font-family: $netcanvas-font-stack;
  --body-font-family: $system-font-stack;
}

html {
  font-family: var(--body-font-family);
  font-size: var(--base-font-size);
}

// Headings

$headings-font-weight: 400 !default;
$headings-line-height: 1.1 !default;

// Based of px sizes in style guide (em values were inconsistent)
$headings: (
  h1: (1.75rem, var(--heading-font-family)),
  h2: (1.25rem, var(--heading-font-family)),
  h3: (1.0625rem, var(--heading-font-family)),
  h4: (1rem, var(--heading-font-family)),
  h5: (.75rem, var(--heading-font-family)),
);

@mixin text($font-size, $font-family) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $headings-font-weight;
  letter-spacing: .05rem;
  line-height: $headings-line-height;
}

@each $heading-tag, $heading-properties in $headings {
  #{$heading-tag} {
    $font-size: nth($heading-properties, 1);
    $font-family: nth($heading-properties, 2);

    @include text($font-size, $font-family);
  }
}

@include type-set(
  'quicksand', base,
  (
    font-family: var(--heading-font-family),
    font-size: 16px,
    line-height: $base-line-height,
    font-weight: $headings-font-weight
  )
);
@include type-set(
  'light', base, (font-weight: 300)
);
@include type-set(
  'medium', base, (font-weight: 500)
);
@include type-set(
  'bold', base, (font-weight: 700)
);
@include type-set(
  'center', base, (text-align: center)
);
// H1  - questions, form, and menu headlines
@include type-set(
  'main-title', base,
  (
    font-family: var(--heading-font-family),
    font-size: 45px,
    line-height: 1.429,
    font-weight: 700,
    text-align: center,
  )
);

@include type-set(
  'title-1', base,
  (
    font-family: var(--heading-font-family),
    font-size: 32px,
    line-height: 1.429,
    font-weight: 700,
    text-align: center,
    width: 100%
  )
);

@include type-set('title-1', full, (font-size: 28px));

// H2 - Form question headlines, buttons, text links
@include type-set(
  'title-2', base,
  (
    font-size: 20px,
    line-height: $base-line-height,
    font-weight: 500,
  )
);
@include type-set('title-2', full, (font-size: 20px));
// H3 - Large nodes, name generator panel, ordinal bins, categorial bins
@include type-set(
  'title-3', base,
  (
    font-size: 17px,
    line-height: $base-line-height,
    font-weight: $headings-font-weight,
    text-align: center,
  )
);
// H4 - Menu items, error message headline, body copy
@include type-set(
  'title-4', base,
  (
    font-size: 16px,
    line-height: $base-line-height,
  )
);
// H5 - Small nodes, context bins, number counter, form field label
@include type-set(
  'title-5', base,
  (
    font-size: 12px,
    line-height: $base-line-height,
  )
);

// Copy sizes
@include type-set(
  'copy-large', base,
  (
    font-size: 18px,
    line-height: $base-line-height
  )
);
@include type-set(
  'copy-standard', base,
  (
    font-size: 16px,
    line-height: $base-line-height
  )
);
@include type-set(
  'copy-small', base,
  (
    font-size: 12px,
    line-height: $base-line-height,
    font-weight: 100
  )
);

@if $export-ui-classes {
  @include normalize;
  @include typography-classes;
  @include grid-classes;
}
