@import 'core/animation';
@import 'core/bem';
@import 'core/breakpoints';
@import 'core/color';
@import 'core/palette';
@import 'core/grid';
@import 'core/functions';
@import 'core/spacing';
@import 'core/typography';
@import 'core/quicksand';
@import 'core/normalize';

$export-ui-classes: true !default;

// Default Breakpoint Settings
// =============================================================================
@include breakpoint-set(small, 'min-aspect-ratio: 16/9');
@include breakpoint-set(full, 'min-aspect-ratio: 16/9');
@include breakpoint-classes(hide) {
  display: none;
}

@include breakpoint-classes(show--flex) {
  display: flex;
}

// Default Copy Typography Sizes
// =============================================================================

$netcanvas-font-size: 16px;
$line-height-base: 1.5 !default;
$headings-font-weight:   400 !default;
$headings-line-height:   1.1 !default;

@include type-set(
  'quicksand', base,
  (
    font-family: 'Quicksand, "Open Sans", sans-serif',
    font-size: 16px,
    line-height: $line-height-base,
    font-weight: $headings-font-weight
  )
);
@include type-set(
  'light', base, (font-weight: 300)
);
@include type-set(
  'medium', base, (font-weight: 500)
);
@include type-set(
  'bold', base, (font-weight: 700)
);
@include type-set(
  'center', base, (text-align: center)
);
// H1  - questions, form, and menu headlines
@include type-set(
  'main-title', base,
  (
    font-size: 45px,
    line-height: 1.429,
    font-weight: 700,
    text-align: center,
  )
);

@include type-set(
  'title-1', base,
  (
    font-size: 32px,
    line-height: 1.429,
    font-weight: 700,
    text-align: center,
    width: 100%
  )
);

@include type-set('title-1', full, (font-size: 28px));

// H2 - Form question headlines, buttons, text links
@include type-set(
  'title-2', base,
  (
    font-size: 20px,
    line-height: $line-height-base,
    font-weight: 500,
  )
);
@include type-set('title-2', full, (font-size: 20px));
// H3 - Large nodes, name generator panel, ordinal bins, categorial bins
@include type-set(
  'title-3', base,
  (
    font-size: 17px,
    line-height: $line-height-base,
    font-weight: $headings-font-weight,
    text-align: center,
  )
);
// H4 - Menu items, error message headline, body copy
@include type-set(
  'title-4', base,
  (
    font-size: 16px,
    line-height: $line-height-base,
  )
);
// H5 - Small nodes, context bins, number counter, form field label
@include type-set(
  'title-5', base,
  (
    font-size: 12px,
    line-height: $line-height-base,
  )
);

// Copy sizes
@include type-set(
  'copy-large', base,
  (
    font-size: 18px,
    line-height: $line-height-base
  )
);
@include type-set(
  'copy-standard', base,
  (
    font-size: 16px,
    line-height: $line-height-base
  )
);
@include type-set(
  'copy-small', base,
  (
    font-size: 12px,
    line-height: $line-height-base,
    font-weight: 100
  )
);

@if $export-ui-classes {
  @include normalize;
  @include typography-classes;
  @include grid-classes;
}

$netcanvas-font-family: 'Quicksand', 'Open Sans', sans serif;
$netcanvas-font-size: 18px;
$line-height-base: 1.5 !default;

html {
  font-family: $netcanvas-font-family;
  font-size: $netcanvas-font-size;
}

// Headings

$headings-font-family:   inherit !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;

// Based of px sizes in style guide (em values were inconsistent)
$text-sizes: (
  h1: 1.75rem,
  h2: 1.25rem,
  h3: 1.0625rem,
  h4: 1rem,
  h5: .75rem,
);

@mixin text($text-size) {
  font-family: $headings-font-family;
  font-size: map-get($text-sizes, $text-size);
  font-weight: $headings-font-weight;
  letter-spacing: .05rem;
  line-height: $headings-line-height;
}

@each $text-size in $text-sizes {
  $text-size-name: nth($text-size, 1);

  #{$text-size-name} {
    @include text($text-size-name);
  }
}

// Default Color Settings
// =============================================================================
@include color-set('neon-coral', #e2215b);
@include color-set('neon-coral--dark', #ce1c54);
@include color-set('mustard', #f2b700);
@include color-set('mustard--dark', #dba500);
@include color-set('sea-green', #00c9a2);
@include color-set('sea-green--dark', #00a081);
@include color-set('white', #fff);
@include color-set('slate-blue', #6b72ec);
@include color-set('slate-blue--dark', #555bbc);
@include color-set('navy-taupe', #2d2955);
@include color-set('cyber-grape', #3a3a75);
@include color-set('rich-black', #16152b);
@include color-set('charcoal', #6d6f76);
@include color-set('platinum', #f2f6f7);
@include color-set('platinum--dark', #dae3e5);
@include color-set('sea-serpent', #0fb2e2);
@include color-set('sea-serpent--dark', #0fa3ce);
@include color-set('purple-pizazz', #d30fef);
@include color-set('purple-pizazz--dark', #bf0cd8);
@include color-set('paradise-pink', #ff3a8c);
@include color-set('paradise-pink--dark', #e8357c);
@include color-set('cerulean-blue', #0f70ff);
@include color-set('cerulean-blue--dark', #0f66e8);
@include color-set('kiwi', #70bf54);
@include color-set('kiwi--dark', #66ad4c);
@include color-set('neon-carrot', #f7891e);
@include color-set('neon-carrot--dark', #e07c1c);
@include color-set('barbie-pink', #ed008c);
@include color-set('barbie-pink--dark', #d6007f);
@include color-set('tomato', #e82d3f);
@include color-set('tomato--dark', #d32b3a);

@include palette-set('primary', color('sea-green'));
@include palette-set('menu', color('white'));
@include palette-set('selected', color('white'));
@include palette-set('settings', color('slate-blue'));
@include palette-set('background', color('navy-taupe'));
@include palette-set('text', color('white'));
@include palette-set('text-dark', color('charcoal'));
@include palette-set('tex-muted', color('cyber-grape'));
@include palette-set('link', color('neon-coral'));
@include palette-set('light-background', color('cyber-grape'));
@include palette-set('dark-background', color('rich-black'));
@include palette-set('modal-main-panel', color('cyber-grape'));
@include palette-set('modal-overlay', color('rich-black'));
@include palette-set('info', color('sea-green'));
@include palette-set('warning', color('mustard'));
@include palette-set('error', color('neon-coral'));
@include palette-set('headings', color('white'));
@include palette-set('menu-headings', color('charcoal'));
@include palette-set('divider', color('platinum--dark'));
@include palette-set('node-base', color('neon-coral'));
@include palette-set('node-dark', color('neon-coral--dark'));
@include palette-set('node-alt-1', color('purple-pizazz'));
@include palette-set('node-alt-1--dark', color('purple-pizazz--dark'));
@include palette-set('node-alt-2', color('paradise-pink'));
@include palette-set('node-alt-2--dark', color('paradise-pink--dark'));
@include palette-set('node-alt-3', color('barbie-pink'));
@include palette-set('node-alt-3--dark', color('barbie-pink--dark'));
@include palette-set('node-alt-4', color('tomato'));
@include palette-set('node-alt-4--dark', color('tomato--dark'));
@include palette-set('node-alt-5', color('neon-carrot'));
@include palette-set('node-alt-5--dark', color('neon-carrot--dark'));
@include palette-set('node-alt-6', color('mustard'));
@include palette-set('node-alt-6--dark', color('mustard--dark'));
@include palette-set('node-alt-7', color('kiwi'));
@include palette-set('node-alt-7--dark', color('kiwi--dark'));
@include palette-set('node-alt-8', color('sea-serpent'));
@include palette-set('node-alt-8--dark', color('sea-serpent--dark'));
@include palette-set('node-alt-9', color('cerulean-blue'));
@include palette-set('node-alt-9--dark', color('cerulean-blue--dark'));
@include palette-set('edge-base', color('mustard'));
@include palette-set('edge-dark', color('mustard--dark'));
@include palette-set('edge-alt-1', color('purple-pizazz'));
@include palette-set('edge-alt-2', color('neon-coral'));
@include palette-set('edge-alt-3', color('kiwi'));
@include palette-set('edge-alt-4', color('paradise-pink'));
@include palette-set('edge-alt-5', color('tomato'));
@include palette-set('edge-alt-6', color('sea-serpent'));
@include palette-set('edge-alt-7', color('barbie-pink'));
@include palette-set('edge-alt-8', color('neon-coral'));
@include palette-set('edge-alt-9', color('cerulean-blue'));
@include palette-set('ring', color('cyber-grape'));
@include palette-set('graph-tooltip', color('charcoal'));
@include palette-set('graph-data-1', color('sea-green'));
@include palette-set('graph-data-2', color('slate-blue'));
@include palette-set('graph-data-3', color('neon-carrot'));
@include palette-set('graph-data-4', color('sea-serpent'));

:root {
  // each item in color map
  @each $name, $color in $-color-map {
    --color-#{$name}: $color;
  }
  // each item in palette
  @each $name, $palette in $-palette-map {
    --#{$name}: $palette;
  }
}
