@import '../../src/styles/all';

$sidenav-width: 200px;
$sidenav-padding: spacing-get-value('small');
$app-content-padding: 70px;

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    transition: left .2s cubic-bezier(.17,.67,.83,.67);

    @include breakpoint('medium') {
      width: calc( 100% - #{$sidenav-width});
    }

    &--pushed {
      left: $sidenav-width;
    }
  }

  &__main {
    padding-top: 24px;
    padding-left: $app-content-padding / 2;
    padding-right: $app-content-padding / 2;
    @include breakpoint('medium') {
      padding-left: $app-content-padding;
    }
  }
}

@include block('sidenav') {
  height: 100%;
  width: $sidenav-width;
  padding: 0 $sidenav-padding;
  background-color: palette('light-background');
}

.color {
  @include element('blob') {
    margin: 1em 1em 1em 0;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    box-shadow: 0 3px rgba(0,0,0,0.75);
  }

  @include color-modifiers;
}

.icon[name="add-a-context"] {
  height: 100px;
}
