@import '../../styles/all';

@include reset;
@include type-classes;
@include grid-classes;
@include button;
@include icon;
@include input;

.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: palette('dark-background');
  color: color('white');
}

@include block('sidenav') {
  max-width: 250px;
  flex: 0 0 30%;
  background-color: color('cyber-grape');

  @include element('list') {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.color {
  @include element('blob') {
    margin: 1em 1em 1em 0;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    box-shadow: 0 3px rgba(0,0,0,0.75);
  }

  @include color-modifiers;
}
