@import '../../src/styles/all';

.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: palette('dark-background');
  color: color('white');

  &__content {
    @include sidemenu-visible;
  }
}

@include block('sidenav') {
  max-width: 250px;
  flex: 0 0 30%;
  background-color: palette('light-background');
}

.color {
  @include element('blob') {
    margin: 1em 1em 1em 0;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    box-shadow: 0 3px rgba(0,0,0,0.75);
  }

  @include color-modifiers;
}
