.date-picker {

  &__panels {
    display: flex;
    width: 100%;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    flex: 0 1 33%;
    pointer-events: none;
    opacity: 0.33;
    transition: opacity ease 300ms;

    &--is-active,
    &--is-complete {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__panel-preview {
    display: none;
  }

  &__panel-content {
    display: flex;
    flex-direction: row;
    max-height: 250px;
  }

  &__highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 2rem;
    width: 100%;
    max-width: 4rem;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: background-color ease 300ms;
  }

  &__range-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--is-active {
      .date-picker__highlight {
        background-color: white;
        color: purple;
      }
    }
  }

  &__range-picker {
    flex: 0 1 100%;

    &--month,
    &--day {
      display: flex;
      flex-wrap: wrap;
    }

    &--year {
      overflow-y: scroll;

      .date-picker__range-item {
        flex: 0 1 100%;
      }
    }

    &--month {
      .date-picker__range-item {

        flex: 0 1 33%;
      }
    }

    &--day {
      .date-picker__range-item {
        flex: 0 1 14%;
      }
    }
  };

  @media only screen and (max-width: 1280px) {
    &__panels {
      display: block;
      width: 100%;
      overflow: hidden;
      height: 400px;
      position: relative;
    }

    &__panel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(100%);
      transition: transform ease 300ms;

      &--is-active {
        transform: translateX(0);
      }

      &--is-complete {
        transform: translateX(-100%);
      }
    }

    &__panel-preview {
      display: flex;
      justify-content: center;
      align-items: center;
      background: purple;
      padding: 1rem 0;
    }
  }
}
