.date-picker {

  &__panels {
    display: flex;
    width: 100%;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    flex: 0 1 33%;
    pointer-events: none;
    opacity: 0.33;
    transition: opacity ease 300ms;

    &--is-active,
    &--is-complete {
      opacity: 1;
      pointer-events: all;
    }

    &--year {
      background: blue;
    }

    &--month {
      background: red;
    }

    &--day {
      background: green;
    }
  }

  &__panel-preview {
    display: none;
    min-height: 250px;
  }

  &__panel-content {
    display: flex;
    flex-direction: row;
    max-height: 250px;
  }

  &__highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 2rem;
    width: 100%;
    max-width: 4rem;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: background-color ease 300ms;
  }

  &__range-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--is-active {
      .date-picker__highlight {
        background-color: white;
      }
    }
  }

  &__range-picker {
    flex: 0 1 100%;

    &--month,
    &--day {
      display: flex;
      flex-wrap: wrap;
    }

    &--year {
      overflow-y: scroll;

      .date-picker__range-item {
        flex: 0 1 100%;
      }
    }

    &--month {
      .date-picker__range-item {

        flex: 0 1 33%;
      }
    }

    &--day {
      .date-picker__range-item {
        flex: 0 1 14%;
      }
    }
  };

  @media only screen and (max-width: 1280px) {
    &__panel-preview {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    &__panel-content {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      overflow: hidden;
    }

    &__panel-preview,
    &__panel-content {
      transition: opacity ease 300ms;
    }

    &__panel {
      flex-direction: row;
      position: relative;
      transition: flex-basis ease 300ms;
      flex-basis: 0;
      overflow: hidden;

      &--is-active {
        flex-basis: 100%;

        .date-picker__panel-content {
          flex-basis: 100%;
          opacity: 1;
        }
        .date-picker__panel-preview {
          flex-basis: 0;
          opacity: 0;
        }
      }

      &--is-complete {
        flex-basis: 33%;

        .date-picker__panel-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: -1;
        }
        .date-picker__panel-preview {
          flex-basis: 100%;
          opacity: 1;
        }
      }
    }
  }
}
