// Button
// =============================================================================

@import "../global/default";

@mixin reset-button {
  -webkit-appearance: none;
  border: 0;
  background: none;
}

@mixin button (
  $button-class: 'button'
) {
  .#{$button-class} {
    @include reset-button;

    @include type('title-2');
    @include type('bold');
    font-family: inherit;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: color('white');

    min-width: 250px;
    min-height: 80px;
    border-radius: 40px;
    box-shadow: 0 3px rgba(0,0,0,0.25);
    background-color: color('sea-green');

    &:hover {
      text-decoration: none;
      cursor: pointer;
      background-color: color('sea-green', 0.8);
    }

    @include color-modifiers($include-hover: true);
  }
}
