$module-name: date-picker;
$animation-speed: var(--animation-duration-standard);
$height: 18rem;

.form-field-date-picker {
  &__error {
    opacity: 0;
    max-height: 0;
    transition: opacity var(--animation-easing) var(--animation-duration-standard),
    max-height var(--animation-easing) var(--animation-duration-standard);
  }

  &__error-message {
    color: var(--form-error-text);
    background: var(--error);
    margin-top: 0.5rem;
    padding: 0.5rem 0.25rem;

    svg {
      max-height: 1.2rem;
    }
  }

  &--has-error {
    border-width: 0.1rem;
    border-style: solid;
    border-color: var(--error);

    .#{$module-name}__error {
      opacity: 1;
      max-height: 2.5rem;
    }
  }
}

.#{$module-name} {
  --active-color: var(--color-sea-green);
  --background: var(--input-background);
  max-width: 100%;
  overflow: hidden;

  &__preview {
    font-size: 1rem;
    background-color: var(--background);
    border-radius: 1rem 1rem 0 0;
    padding: 0 1rem;
    line-height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color var(--animation-easing) var(--animation-duration-standard);

    &-divider {
      color: var(--active-color);
      padding: 0 0.5rem;
    }

    &-part,
    &-clear {
      display: inline-block;
      transition: opacity var(--animation-easing) var(--animation-duration-standard);
    }

    &-part {
      opacity: 0.33;
      &--is-set {
        cursor: pointer;
        opacity: 1;
      }
    }

    &-clear {
      border-bottom: 1px solid var(--active-color);
      line-height: 1.4rem;
      height: 1.4rem;
      margin-left: auto;
      opacity: 0;

      &--is-visible {
        opacity: 1;
        cursor: pointer;
      }
    }

    &--is-empty {
      cursor: pointer;
    }

    &:focus {
      border-bottom-color: var(--active-color);
    }
  }

  &__panels {
    display: block;
    width: 100%;
    overflow: hidden;
    transform: scale3d(1, 1, 1) scaleY(0);
    box-sizing: border-box;
    height: 0;
    position: relative;
    transform-origin: top left;
    transition: height var(--animation-easing) var(--animation-duration-slow) var(--animation-duration-standard),
    transform var(--animation-easing) var(--animation-duration-slow) var(--animation-duration-standard);

    &--is-open {
      height: $height;
      transform: scaleY(1);
      transition: height var(--animation-easing) var(--animation-duration-slow),
      transform var(--animation-easing) var(--animation-duration-slow);
    }
  }

  &__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
    background-color: var(--input-background);
    flex-direction: column;
    transform: translateX(100%);
    transition: transform var(--animation-easing) var(--animation-duration-slow) var(--animation-duration-standard);
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0 2px 0 0;

    &--is-active {
      transform: translateX(0);
    }

    &--is-complete {
      transform: translateX(-100%);
    }
  }

  &__panel-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 0 1 100%;
  }

  &__highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: transparent;
    transition: background-color ease $animation-speed;
  }

  &__range-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem;

    &--is-active {
      .#{$module-name}__highlight {
        background-color: var(--active-color);
      }
    }

    &--is-today {
      .#{$module-name}__highlight {
        font-weight: bold;
      }
    }

    &--is-disabled {
      pointer-events: none;
      opacity: 0.15;
    }
  }

  &__range-picker {
    padding-top: 0 !important;
    flex: 0 1 100%;
    display: grid;
    overflow-y: auto;
    width: 100%;

    &--year {
      @extend .scrollable !optional;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      .#{$module-name}__range-item {
        padding: 1rem 0;

        &:nth-child(10n - 9),
        &:nth-child(10n - 8),
        &:nth-child(10n - 7),
        &:nth-child(10n - 6),
        &:nth-child(10n - 5) {
          background-color: rgba(255, 255, 255, 0.05);
        }
      }
    }

    &--month {
      grid-template-columns: 1fr 1fr 1fr;
      .#{$module-name}__range-item {
        &:nth-child(6n - 5),
        &:nth-child(6n - 4),
        &:nth-child(6n - 3) {
          background-color: rgba(255, 255, 255, 0.05);
        }
      }
    }

    &--day {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      .#{$module-name}__range-item {
        &:nth-child(14n - 13),
        &:nth-child(14n - 12),
        &:nth-child(14n - 11),
        &:nth-child(14n - 10),
        &:nth-child(14n - 9),
        &:nth-child(14n - 8),
        &:nth-child(14n - 7) {
          background-color: rgba(255, 255, 255, 0.05);
        }
      }
    }
  }

  &--is-active {
    .#{$module-name}__preview {
      border-bottom-color: var(--active-color);
    }
  }
}
