$module-name: date-picker;
$animation-speed: var(--animation-duration-standard);

.form-field-date-picker {
  &__error {
    opacity: 0;
    max-height: 0;
    transition: opacity var(--animation-easing) var(--animation-duration-standard),
    max-height var(--animation-easing) var(--animation-duration-standard);
  }

  &__error-message {
    color: var(--form-error-text);
    background: var(--error);
    margin-top: 0.5rem;
    padding: 0.5rem 0.25rem;

    svg {
      max-height: 1.2rem;
    }
  }

  &--has-error {
    border-width: 0.1rem;
    border-style: solid;
    border-color: var(--error);

    .#{$module-name}__error {
      opacity: 1;
      max-height: 2.5rem;
    }
  }
}

.#{$module-name} {
  --active-color: var(--color-sea-green);
  max-width: 100%;
  overflow: hidden;
  // --slider-color: var(--color-platinum);
  // --disabled-color: var(--color-charcoal);
  // --label-color: var(--color-white);
  // --tooltip-color: var(--color-white);
  // --tooltip-label: var(--text-dark);

  &__preview {
    font-size: 1.5rem;

    div {
      background-color: var(--active-color);
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      cursor: pointer;
      display: inline-block;
    }
  }

  &__panels {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 300px;
    position: relative;
  }

  &__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--input-background);
    flex-direction: column;
    transform: translateX(100%);
    transition: transform ease 300ms;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0 0 0 2px;

    &--is-active {
      transform: translateX(0);
    }

    &--is-complete {
      transform: translateX(-100%);
    }
  }

  // &__panel-preview {
  //   display: none;
  //   font-size: 1.5rem;

  //   span {
  //     background-color: var(--active-color);
  //     padding: 0.5rem 1rem;
  //     border-radius: 1rem;
  //     cursor: pointer;
  //   }
  // }

  &__panel-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 0 1 100%;
  }

  &__highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 2rem;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: background-color ease $animation-speed;
  }

  &__range-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem;

    &--is-active {
      .#{$module-name}__highlight {
        background-color: var(--active-color);
      }
    }
  }

  &__range-picker {
    @extend .scrollable;
    padding-top: 0 !important;
    flex: 0 1 100%;
    display: grid;
    overflow-y: auto;
    width: 100%;

    &--year {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      .#{$module-name}__range-item {
        padding: 1rem 0;

        &:nth-child(10n - 4),
        &:nth-child(10n - 3),
        &:nth-child(10n - 2),
        &:nth-child(10n - 1),
        &:nth-child(10n) {
          background-color: rgba(255, 255, 255, 0.05);
        }
      }
    }

    &--month {
      grid-template-columns: 1fr 1fr 1fr;
      .#{$module-name}__range-item {
        &:nth-child(6n - 2),
        &:nth-child(6n - 1),
        &:nth-child(6n) {
          background-color: rgba(255, 255, 255, 0.05);
        }
      }
    }

    &--day {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      .#{$module-name}__range-item {
        &:nth-child(14n - 6),
        &:nth-child(14n - 5),
        &:nth-child(14n - 4),
        &:nth-child(14n - 3),
        &:nth-child(14n - 2),
        &:nth-child(14n - 1),
        &:nth-child(14n) {
          background-color: rgba(255, 255, 255, 0.05);
        }
      }
    }
  }
}
