input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 1rem 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  background: var(--color-platinum);
  border-radius: 1rem;
}

input[type=range]::-webkit-slider-thumb {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.5rem;
}
