$component-name: form-fields-textarea;

.#{$component-name} {
  @include form-field;
  width: 100%;

  &__input {
    @include typography('copy-large');
    border: unit(.2) solid var(--architect-panel-background);
    padding: unit(1);
    min-height: unit(8);
    width: 100%;
    vertical-align: top;
    resize: vertical;
  }

  &__error {
    opacity: 0;
    max-height: 0;
    color: var(--error);
    margin: unit(.5) 0;
    transition: opacity var(--animation-easing) var(--animation-duration-standard),
    max-height var(--animation-easing) var(--animation-duration-standard);
  }

  &--has-error {
    .#{$component-name}__error {
      opacity: 1;
      max-height: 50px;
    }
  }
}
