$component-name: form-field-togglebutton-group;

.#{$component-name} {
  @include form-field;
  display: block;

  &__option {
    margin: unit(1);
  }


  &__error {
    opacity: 0;
    max-height: 0;
    background: var(--error);
    color: var(--text);
    transition: opacity var(--animation-easing) var(--animation-duration-standard),
    max-height var(--animation-easing) var(--animation-duration-standard);
    background: var(--error);
    padding: 0.5rem 0.25rem;
    display: flex;

    svg {
      max-height: 1.2rem;
    }
  }

  &--has-error {
    .#{$component-name}__error {
      opacity: 1;
      max-height: 50px;
    }

    .form-field__inline {
      margin-bottom: 0;
      border: 0.1rem solid var(--error);
    }

  }
}
