@import "core/animation";
@import "core/bem";
@import "core/breakpoints";
@import "core/color";
@import "core/grid";
@import "core/functions";
@import "core/spacing";
@import "core/type";
@import "core/quicksand";
@import "core/normalize";

// Default Breakpoint Settings
// =============================================================================
@include breakpoint-set(medium, 768px);
@include breakpoint-set(large, 1024px);
@include breakpoint-classes(hide) {
  display: none;
}

@include breakpoint-classes(show--flex) {
  display: flex;
}

// Default Color Swatches
// =============================================================================
// Primary
@include color-set('nc-coral', #E2215B); // node color
@include color-set('mustard', #F2B700); // connection color
@include color-set('mustard--dark', #DBA500);
@include color-set('sea-green', #00C9A2); // primary action color
@include color-set('white', #FFFFFF); // type / selected color
@include color-set('slate-blue', #6B72EC); // settings color
@include color-set('navy-taupe', #2D2955); // background
@include color-set('cyber-grape', #3A3A75); // light background
@include color-set('rich-black', #16152B); // dark background
@include color-set('charcoal', #6D6F76); // text / deselected color
@include color-set('platinum', #F2F6F7); // panel background color
@include color-set('platinum--dark', #DAE3E5); // divider color
@include color-set('white', #FFFFFF);

// Secondary
@include color-set('sea-serpent', #0FB2E2);
@include color-set('sea-serpent--dark', #0FA3CE);
@include color-set('purple-pizazz', #D30FEF);
@include color-set('purple-pizazz--dark', #BF0CD8);
@include color-set('paradise-pink', #FF3A8C);
@include color-set('paradise-pink--dark', #E8357C);
@include color-set('cerulean-blue', #0F70FF);
@include color-set('cerulean-blue--dark', #0F66E8);
@include color-set('kiwi', #70BF54);
@include color-set('kiwi--dark', #66AD4C);


// Tertiary
@include color-set('neon-carrot', #F7891E);
@include color-set('neon-carrot--dark', #E07C1C);
@include color-set('barbie-pink', #ED008C);
@include color-set('barbie-pink--dark', #D6007F);
@include color-set('tomato', #E82D3F);
@include color-set('tomato--dark', #D32B3A);

$roles: (
  'node': color('network-canvas-coral'),
  'edge': color('mustard'),
  'primary': color('sea-green'),
  'menu': color('white'),
  'selected': color('white'),
  'settings': color('slate-blue'),
  'background': color('navy-taupe'),
  'text': color('white'),
  'tex-muted': color('cyber-grape'),
  'link': color('nc-coral'),
  'light-background': color('cyber-grape'),
  'dark-background': color('rich-black'),
  'headings': color('white'),
  'menu-headings': color('charcoal'),
  'divider': color('platinum--dark')
);

// Collections
$nodes: (
  default: (
    base:   map-get($roles, node),
    dark:   darken(map-get($roles, node), 5%)
  )
);

$edges: (
  default: (
    base:   map-get($roles, edge),
    dark:   darken(map-get($roles, edge), 5%)
  )
);

@function node-palette($palette: 'default', $tone: 'base') {
  @return map-get(map-get($nodes, $palette), $tone);
}

@function palette($role) {
  @return map-get($roles, $role);
}

// Default Copy Typography Sizes
// =============================================================================

$netcanvas-font-size: 16px;
$line-height-base: 1.5 !default;
$headings-font-weight:   400 !default;
$headings-line-height:   1.1 !default;

@include type-set(
  'quicksand', base,
  (
    font-family: 'Quicksand, "Open Sans", sans-serif',
    font-size: 16px,
    line-height: $line-height-base,
    font-weight: $headings-font-weight
  )
);
@include type-set(
  'light', base, (font-weight: 300)
);
@include type-set(
  'medium', base, (font-weight: 500)
);
@include type-set(
  'bold', base, (font-weight: 700)
);
@include type-set(
  'center', base, (text-align: center)
);
// H1  - questions, form, and menu headlines
@include type-set(
  'title-1', base,
  (
    font-size: 32px,
    line-height: 1.429,
    font-weight: $headings-font-weight,
    text-align: center,
    width: 100%
  )
);
@include type-set('title-1', medium, (font-size: 28px));

// H2 - Form question headlines, buttons, text links
@include type-set(
  'title-2', base,
  (
    font-size: 32px,
    line-height: $line-height-base,
    font-weight: $headings-font-weight,
    width: 100%
  )
);
@include type-set('title-2', medium, (font-size: 20px));
// H3 - Large nodes, name generator panel, ordinal bins, categorial bins
@include type-set(
  'title-3', base,
  (
    font-size: 17px,
    line-height: $line-height-base,
    font-weight: $headings-font-weight,
    text-align: center,
    width: 100%
  )
);
// H4 - Menu items, error message headline, body copy
@include type-set(
  'title-4', base,
  (
    font-size: 16px,
    line-height: $line-height-base,
    width: 100%
  )
);
// H5 - Small nodes, context bins, number counter, form field label
@include type-set(
  'title-5', base,
  (
    font-size: 12px,
    line-height: $line-height-base,
    width: 100%
  )
);

// Copy sizes
@include type-set(
  'copy-large', base,
  (
    font-size: 18px,
    line-height: $line-height-base
  )
);
@include type-set(
  'copy-standard', base,
  (
    font-size: 16px,
    line-height: $line-height-base
  )
);
@include type-set(
  'copy-small', base,
  (
    font-size: 12px,
    line-height: $line-height-base,
    font-weight: 100
  )
);
