@import 'core/animation';
@import 'core/units';
@import 'core/bem';
@import 'core/breakpoints';
@import 'core/color';
@import 'core/palette';
@import 'core/grid';
@import 'core/functions';
@import 'core/spacing';
@import 'core/typography';
@import 'core/quicksand';
@import 'core/normalize';
@import 'core/z-index';

$export-ui-classes: true !default;

// Default Color Settings
// =============================================================================
@include color-set('neon-coral', '226, 33, 91');
@include color-set('neon-coral--dark', '206, 28, 84');
@include color-set('mustard', '242, 183, 0');
@include color-set('mustard--dark', '219, 165, 0');
@include color-set('sea-green', '0, 201, 162');
@include color-set('sea-green--dark', '0, 160, 129');
@include color-set('white', '255, 255, 255');
@include color-set('slate-blue', '107, 114, 236');
@include color-set('slate-blue--dark', '85, 91, 188');
@include color-set('navy-taupe', '45, 41, 85');
@include color-set('cyber-grape', '58, 58, 117');
@include color-set('rich-black', '22, 21, 43');
@include color-set('charcoal', '109, 111, 118');
@include color-set('platinum', '242, 246, 247');
@include color-set('platinum--dark', '218, 227, 229');
@include color-set('sea-serpent', '15, 178, 226');
@include color-set('sea-serpent--dark', '15, 163, 206');
@include color-set('purple-pizazz', '211, 15, 239');
@include color-set('purple-pizazz--dark', '191, 12, 216');
@include color-set('paradise-pink', '255, 58, 140');
@include color-set('paradise-pink--dark', '232, 53, 124');
@include color-set('cerulean-blue', '15, 112, 255');
@include color-set('cerulean-blue--dark', '15, 102, 232');
@include color-set('kiwi', '112, 191, 84');
@include color-set('kiwi--dark', '102, 173, 76');
@include color-set('neon-carrot', '247, 137, 30');
@include color-set('neon-carrot--dark', '224, 124, 28');
@include color-set('barbie-pink', '237, 0, 140');
@include color-set('barbie-pink--dark', '214, 0, 127');
@include color-set('tomato', '232, 45, 63');
@include color-set('tomato--dark', '211, 43, 58');


// Palettes
@include palette-set('primary', color('sea-green'));
@include palette-set('menu-panel--active', color('white'));
@include palette-set('menu-panel', color('cyber-grape'));
@include palette-set('selected', color('white'));
@include palette-set('settings', color('mustard'));
@include palette-set('background', color('navy-taupe'));
@include palette-set('text', color('white'));
@include palette-set('text-dark', color('charcoal'));
@include palette-set('tex-muted', color('cyber-grape'));
@include palette-set('link', color('neon-coral'));
@include palette-set('light-background', color('cyber-grape'));
@include palette-set('dark-background', color('rich-black'));
@include palette-set('modal-main-panel', color('cyber-grape'));
@include palette-set('modal-background', color('navy-taupe'));
@include palette-set('info', color('sea-green'));
@include palette-set('notice', color('slate-blue'));
@include palette-set('warning', color('mustard'));
@include palette-set('error', color('neon-coral'));
@include palette-set('headings', color('white'));
@include palette-set('menu-headings', color('charcoal'));
@include palette-set('divider', color('platinum--dark'));
@include palette-set('ring--background', var(--background));
@include palette-set('ring--accent', color('cyber-grape'));
@include palette-set('graph-tooltip', color('charcoal'));
@include palette-set('graph-data-1', color('sea-green'));
@include palette-set('graph-data-2', color('slate-blue'));
@include palette-set('graph-data-3', color('neon-carrot'));
@include palette-set('graph-data-4', color('sea-serpent'));


// Form elements and inputs
@include palette-set('input-border', palette('text'));
@include palette-set('input-text', palette('text'));
@include palette-set('input-accent', palette('primary'));
@include palette-set('input-disabled', color('charcoal'));

// Text inputs

// Checknox/radio
@include palette-set('input-radio--fill', palette('input-accent'));

// Color sequences

// Root sequence
@include palette-set('primary-color-seq-1', color('neon-coral'));
@include palette-set('primary-color-seq-2', color('sea-serpent'));
@include palette-set('primary-color-seq-3', color('purple-pizazz'));
@include palette-set('primary-color-seq-4', color('neon-carrot'));
@include palette-set('primary-color-seq-5', color('kiwi'));
@include palette-set('primary-color-seq-6', color('cerulean-blue'));
@include palette-set('primary-color-seq-7', color('paradise-pink'));
@include palette-set('primary-color-seq-8', color('mustard'));

// Edge sequence
@include palette-set('edge-color-seq-1', color('mustard'));
@include palette-set('edge-color-seq-2', color('purple-pizazz'));
@include palette-set('edge-color-seq-3', color('neon-coral'));
@include palette-set('edge-color-seq-4', color('kiwi'));
@include palette-set('edge-color-seq-5', color('paradise-pink'));
@include palette-set('edge-color-seq-6', color('tomato'));
@include palette-set('edge-color-seq-7', color('sea-serpent'));
@include palette-set('edge-color-seq-8', color('barbie-pink'));
@include palette-set('edge-color-seq-9', color('neon-coral'));
@include palette-set('edge-color-seq-10', color('cerulean-blue'));

// Node Sequence
@include palette-set('node-label', color('white'));
@include palette-set('node-color-seq-1', color('neon-coral'));
@include palette-set('node-color-seq-1--dark', color('neon-coral--dark'));
@include palette-set('node-color-seq-2', color('sea-serpent'));
@include palette-set('node-color-seq-2--dark', color('sea-serpent--dark'));
@include palette-set('node-color-seq-3', color('purple-pizazz'));
@include palette-set('node-color-seq-3--dark', color('purple-pizazz--dark'));
@include palette-set('node-color-seq-4', color('neon-carrot'));
@include palette-set('node-color-seq-4--dark', color('neon-carrot--dark'));
@include palette-set('node-color-seq-5', color('kiwi'));
@include palette-set('node-color-seq-5--dark', color('kiwi--dark'));
@include palette-set('node-color-seq-6', color('cerulean-blue'));
@include palette-set('node-color-seq-6--dark', color('cerulean-blue--dark'));
@include palette-set('node-color-seq-7', color('paradise-pink'));
@include palette-set('node-color-seq-7--dark', color('paradise-pink--dark'));
@include palette-set('node-color-seq-8', color('mustard'));
@include palette-set('node-color-seq-8--dark', color('mustard--dark'));

// Ordinal Bin Sequence
@include palette-set('ord-color-seq-1', color('sea-green'));
@include palette-set('ord-color-seq-2', color('sea-serpent'));
@include palette-set('ord-color-seq-3', color('tomato'));
@include palette-set('ord-color-seq-4', color('neon-carrot'));
@include palette-set('ord-color-seq-5', color('kiwi'));
@include palette-set('ord-color-seq-6', color('cerulean-blue'));
@include palette-set('ord-color-seq-7', color('paradise-pink'));
@include palette-set('ord-color-seq-8', color('mustard'));

// Categorical Bin Sequence
@include palette-set('cat-color-seq-1', color('sea-serpent'));
@include palette-set('cat-color-seq-2', color('purple-pizazz'));
@include palette-set('cat-color-seq-3', color('paradise-pink'));
@include palette-set('cat-color-seq-4', color('kiwi'));
@include palette-set('cat-color-seq-5', color('cerulean-blue'));
@include palette-set('cat-color-seq-6', color('mustard'));
@include palette-set('cat-color-seq-7', color('neon-carrot'));
@include palette-set('cat-color-seq-8', color('barbie-pink'));
@include palette-set('cat-color-seq-9', color('tomato'));
@include palette-set('cat-color-seq-10', color('slate-blue'));

$base-line-height: 1.5;
$netcanvas-font-stack: 'Quicksand', 'Open Sans', sans-serif;
$system-font-stack: 'system-ui', sans-serif;

:root {
  // Typographic base styles
  --base-font-size: 18px;
  --heading-font-family: #{$netcanvas-font-stack};
  --body-font-family: #{$system-font-stack};

  // each item in color map
  @each $name, $color in $-color-map {
    #{'--'}color-#{$name}: #{'rgb('}#{$color}#{')'};
    #{'--'}color-#{$name}---rgb: #{$color};
  }

  // each item in palette
  @each $name, $palette in $-palette-map {
    #{'--'}#{$name}: #{$palette};
  }

  // Top level transparentised values
  --transparent-light: #{transparentize(rgb(255, 255, 255), .7)};
  --transparent-dark: #{transparentize(rgb(0, 0, 0), .3)};

  // additional one-off palette values
  --narrative-heading-color: #{transparentize(rgb(255, 255, 255), .3)};
  --narrative-heading-bg-hover: #{transparentize(rgb(22, 21, 43), .85)};
  --narrative-border-bottom-color: #{transparentize(rgb(22, 21, 43), .85)};

  --node-outer-trim-stroke: #{transparentize(rgb(255, 255, 255), .75)};
  --node-bucket-bg: #{radial-gradient(ellipse at center, transparentize(rgb(45, 41, 85), .5) 0%, transparentize(rgb(58, 58, 117), .5) 100%)};
  --node-list-action-bg: #{transparentize(rgb(58, 58, 117), .5)};

  --drop-shadow-color: #{transparentize(rgb(22, 21, 43), .25)};

  // Inputs
  --input-background: #{transparentize(rgb(0, 0, 0), .67)};
  --input-label: #{transparentize(rgb(255, 255, 255), 0)};
  --input-placeholder: #{transparentize(rgb(255, 255, 255), .75)};

  --modal-overlay: #{transparentize(rgb(0, 0, 0), .2)};
  --modal-window-box-shadow: #{transparentize(rgb(22, 21, 43), .25)};

  --panel-selected-node-bg-color: #{transparentize(rgb(255, 255, 255), .95)};

  --panel-bg-muted: #36315f; //sass-lint:disable-line no-color-literals

  --menu-item-hover: #{darken(rgb(0, 201, 162), 5%)};
  --menu-item-hover-settings: #{darken(rgb(107, 114, 236), 5%)};
}

// to export out into css modules for js
:export {
  @each $name, $color in $-color-map {
    #{$name}: #{$color};
  }
}

// Default Breakpoint Settings
// =============================================================================
@include breakpoint-set('small', 'max-aspect-ratio: 0.625');
@include breakpoint-set('full', 'min-aspect-ratio: 0.625');
@include breakpoint-classes(hide) {
  display: none;
}

@include breakpoint-classes(show--flex) {
  display: flex;
}

@if $export-ui-classes {
  @include normalize;
}

html {
  font-family: var(--body-font-family);
  font-size: var(--base-font-size);
}

// Headings

$headings-font-weight: 600 !default;
$headings-line-height: 1.1 !default;

// Based of px sizes in style guide (em values were inconsistent)
$headings: (
  h1: (1.75rem, var(--heading-font-family)),
  h2: (1.25rem, var(--heading-font-family)),
  h3: (1.0625rem, var(--heading-font-family)),
  h4: (1rem, var(--heading-font-family)),
  h5: (.75rem, var(--heading-font-family)),
);

@mixin text($font-size, $font-family) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $headings-font-weight;
  letter-spacing: .05rem;
  line-height: $headings-line-height;
}

@each $heading-tag, $heading-properties in $headings {
  #{$heading-tag} {
    $font-size: nth($heading-properties, 1);
    $font-family: nth($heading-properties, 2);

    @include text($font-size, $font-family);
  }
}

@include type-set(
  'quicksand', base,
  (
    font-family: var(--heading-font-family),
    font-size: 1rem,
    line-height: $base-line-height,
    font-weight: $headings-font-weight
  )
);
@include type-set(
  'light', base, (font-weight: 300)
);
@include type-set(
  'medium', base, (font-weight: 500)
);
@include type-set(
  'bold', base, (font-weight: 700)
);
@include type-set(
  'center', base, (text-align: center)
);
// H1  - questions, form, and menu headlines
@include type-set(
  'main-title', base,
  (
    font-family: var(--heading-font-family),
    font-size: 3rem,
    line-height: 1.429,
    font-weight: 700,
    text-align: center,
  )
);

@include type-set(
  'title-1', base,
  (
    font-family: var(--heading-font-family),
    font-size: 2.3rem,
    line-height: 1.429,
    font-weight: 700,
    text-align: center,
    width: 100%
  )
);

// H2 - Form question headlines, buttons, text links
@include type-set(
  'title-2', base,
  (
    font-size: 1.2rem,
    line-height: $base-line-height,
    font-weight: 500,
  )
);

// H3 - Large nodes, name generator panel, ordinal bins, categorial bins
@include type-set(
  'title-3', base,
  (
    font-size: 1.05rem,
    line-height: $base-line-height,
    font-weight: $headings-font-weight,
    text-align: center,
  )
);
// H4 - Menu items, error message headline, body copy
@include type-set(
  'title-4', base,
  (
    font-size: 1rem,
    line-height: $base-line-height,
  )
);
// H5 - Small nodes, context bins, number counter, form field label
@include type-set(
  'title-5', base,
  (
    font-size: .8rem,
    line-height: $base-line-height,
  )
);

// Copy sizes
@include type-set(
  'copy-large', base,
  (
    font-size: 1.1rem,
    line-height: $base-line-height
  )
);
@include type-set(
  'copy-standard', base,
  (
    font-size: 1rem,
    line-height: $base-line-height
  )
);
@include type-set(
  'copy-small', base,
  (
    font-size: .7rem,
    line-height: $base-line-height,
    font-weight: 100
  )
);

@if $export-ui-classes {
  @include typography-classes;
  @include grid-classes;
}
