.export-sprite {
  position: relative;
  width: 100%;
  height: 100%;

  &__node {
    position: absolute;
    background: lime;
    width: unit(5);
    height: unit(5);
    background: repeating-linear-gradient(
      145deg,
      rgba(255, 255, 255, .15),
      rgba(255, 255, 255, .15) 50%,
      rgba(0, 0, 0, .1) 50%,
      rgba(0, 0, 0, .1) 100%
    );
  }

  &__destination {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-global-ui);

    .progress-circle {
      --circle-text-color: var(--color-charcoal);
      --circle-background-color: var(--color-white);
      --circle-complete-color: var(--primary);
    }
  }
}
