// Button
// =============================================================================

@mixin reset-button {
  -webkit-appearance: none; //sass-lint:disable-line no-vendor-prefixes
  border: 0;
  padding: 0 1rem;
  background: none;
}

@mixin button (
  $button-class: 'button'
) {
  .#{$button-class} {
    @include reset-button;
    @include vcjc; // vertical center, justify center

    font-weight: 700;
    font-size: .8rem;
    letter-spacing: .15em;
    text-transform: uppercase;
    color: palette('text');

    display: inline-flex;
    font-family: var(--heading-font-family);
    text-align: center;
    text-decoration: none; // in the case that this is used on a link

    width: auto;
    height: auto;
    min-width: 3rem;
    min-height: 3.5rem;

    border-radius: 2rem;
    box-shadow: 0 .15rem rgba(0, 0, 0, .25); //sass-lint:disable-line no-color-literals
    background-color: color('sea-green');

    margin-bottom: .15rem;

    &:hover {
      text-decoration: none;
      cursor: pointer;
      opacity: .8;
    }

    @include color-modifiers($include-hover: true);

    &--small {
      min-width: inherit;
      min-height: 2.5rem;
      font-size: 0.5rem;
    }

    &__content {
      margin: 0 2rem;
    }

    // light color variations
    &--white,
    &--platinum,
    &--platinum--dark {
      color: palette('text-dark');

      // icons
      .icon {
        .cls-2 {
          fill: palette('text-dark');
        }
      }
    }

    &__icon {
      // sass-lint:disable-block no-important
      height: 1rem !important;
      width: 1rem !important;

      // use flexbox to change order of icon and content
      &--right {
        order: 2;
      }
    }
  }
}

@mixin svg-button($svg-path) {
  background: transparent;
  background-image: url($svg-path);
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -1000px;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }
}

@if $export-ui-classes {
  @include button;
}
