// Button
// =============================================================================

@mixin reset-button {
  -webkit-appearance: none; //sass-lint:disable-line no-vendor-prefixes
  border: 0;
  background: none;
}

@mixin default-button-type {
  @include typography('title-2');
  letter-spacing: 3px;
  text-transform: uppercase;
  color: palette('text');
}

@mixin button (
  $button-class: 'button'
) {
  .#{$button-class} {
    @include reset-button;
    @include default-button-type;
    @include vcjc; // vertical center, justify center

    display: inline-flex;
    font-family: var(--heading-font-family);
    text-align: center;
    text-decoration: none; // in the case that this is used on a link

    width: auto;
    height: auto;
    min-width: 250px;
    min-height: 80px;

    border-radius: 40px;
    box-shadow: 0 3px rgba(0, 0, 0, .25); //sass-lint:disable-line no-color-literals
    background-color: color('sea-green');

    &:hover {
      text-decoration: none;
      cursor: pointer;
      opacity: .8;
    }

    @include color-modifiers($include-hover: true);

    &--small {
      min-width: inherit;
      min-height: inherit;
      padding: 1.35rem 0;
      font-size: 12px;

      > .button__content {
        margin: 0 2rem;
      }
    }

    &__content {
      margin: 0 3rem;
    }

    // light color variations
    &--white,
    &--platinum,
    &--platinum--dark {
      color: palette('text-dark');

      // icons
      .icon {
        .cls-2 {
          fill: palette('text-dark');
        }
      }
    }

    &__icon {
      // sass-lint:disable-block no-important
      height: 25px !important;
      width: 25px !important;

      // use flexbox to change order of icon and content
      &--right {
        order: 2;
      }
    }
  }
}

@mixin svg-button($svg-path) {
  background: transparent;
  background-image: url($svg-path);
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -1000px;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }
}

@if $export-ui-classes {
  @include button;
}
