.item-list {
  flex: 1;
  display: flex;

  &__container,
  &__sizer {
    flex: 1;
    display: flex;
    position: relative;
  }

  &__grid {
    overflow-x: hidden !important; // sass-lint:disable-line no-important
  }

  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &--empty {}

  &__emptyMessage {
    flex: 1;
    align-self: center;
    text-align: center;
  }
}

