@mixin form-field {
  &__label {
    @include typography(copy-standard, font-size);
    font-weight: 200;
    display: block;
    margin: 0 0 unit(1);
  }
}

@import './fields/contexts';
@import './fields/radio';
@import './fields/radio-group';
@import './fields/checkbox';
@import './fields/checkbox-list';
@import './fields/select';
@import './fields/text';
@import './fields/textarea';
