// sass-lint:disable no-warn

// Color setter and mixins
// =============================================================================
$-color-map: () !default;
$-color-alpha-map: (.1, .15, .3, .6, .8, 1) !default;

@mixin color-set($color-name, $color-value) {
  $-color-map: map-merge($-color-map, ($color-name: $color-value)) !global;
}

@function color($color-name, $alpha: 1) {
  $color: #fff;
  @if index($-color-alpha-map, $alpha) == null {
    @warn 'color: Only use #{$-color-map-alpha} for alpha values.';
  }
  @if map-has-key($-color-map, $color-name) {
    $color: map-get($-color-map, $color-name);
    @return rgba($color, $alpha);
  } @else {
    @return $color;
  }
}

@mixin color-modifiers($include-hover: false) {
  @each $color-name, $color-group in $-color-map {
    @include modifier($color-name) {
      background-color: color($color-name);

      @if $include-hover {
        &:hover {
          background-color: color($color-name, .8);
        }
      }
    }
  }
}


// Default Color Swatches
// =============================================================================
// Primary
@include color-set('neon-coral', #e2215b); // default node color
@include color-set('mustard', #f2b700); // connection color
@include color-set('mustard--dark', #dba500);
@include color-set('sea-green', #00c9a2); // primary action color
@include color-set('white', #fff); // type / selected color
@include color-set('slate-blue', #6b72ec); // settings color
@include color-set('navy-taupe', #2d2955); // background
@include color-set('cyber-grape', #3a3a75); // light background
@include color-set('rich-black', #16152b); // dark background
@include color-set('charcoal', #6d6f76); // text / deselected color
@include color-set('platinum', #f2f6f7); // panel background color
@include color-set('platinum--dark', #dae3e5); // divider color
@include color-set('white', #fff);

// secondary
@include color-set('sea-serpent', #0fb2e2);
@include color-set('sea-serpent--dark', #0fa3ce);
@include color-set('purple-pizazz', #d30fef);
@include color-set('purple-pizazz--dark', #bf0cd8);
@include color-set('paradise-pink', #ff3a8c);
@include color-set('paradise-pink--dark', #e8357c);
@include color-set('cerulean-blue', #0f70ff);
@include color-set('cerulean-blue--dark', #0f66e8);
@include color-set('kiwi', #70bf54);
@include color-set('kiwi--dark', #66ad4c);

// tertiary
@include color-set('neon-carrot', #f7891e);
@include color-set('neon-carrot--dark', #e07c1c);
@include color-set('barbie-pink', #ed008c);
@include color-set('barbie-pink--dark', #d6007f);
@include color-set('tomato', #e82d3f);
@include color-set('tomato--dark', #d32b3a);
