$size: 2rem;

@mixin form-field {
  &__label {
    @include typography(copy-standard, font-size);
    font-weight: 200;
    display: block;
    margin: 0;
    color: var(--input-label);
  }
}

.form-field-label {
  @extend h4;
}

.form-field-inline-label {
  display: inline-block;
  margin-left: unit(1);
  vertical-align: top;
  line-height: $size;
}

.form-field-container {
  display: block;
  margin-bottom: 2rem;

  &--inline {
    margin-bottom: 0;
  }

  h4 {
    font-weight: 400;
    margin-top: 0;
  }
}

.form-field {
  background: var(--input-background);
  color: var(--input-text);
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 2rem;
  padding: 1rem unit(2);
  width: 100%;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;

  &__inline {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@import './fields/radio';
@import './fields/radio-group';
@import './fields/checkbox';
@import './fields/checkbox-group';
@import './fields/toggle';
@import './fields/toggle-button';
@import './fields/toggle-button-group';
@import './fields/text';
@import './fields/range';
@import './fields/slider';
@import './fields/date-picker';
